<div class="container" ng-controller="menusController">
    <div class="row" ng-repeat="block in menuslist">
        <div class="col-sm-6 col-md-3" ng-repeat="item in block" style="margin-bottom:20px;">
            <div class="thumbnail">
                <img ng-src="{{item.imgurl}}" alt="{{item.title}}" />
                <div class="caption">
                    <h4>{{item.title}}</h4>
                    <h5><i>{{item.price}}</i></h5>
                    <p>{{item.description}}</p>
                    <p><a href="#" class="btn btn-primary" role="button" ng-click="add(item.id)">Add</a> <a href="#" class="btn btn-default" ng-click="read(item.id)" role="button">Read</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

