<div class="col-md-12" ng-controller="menusController">
    <div class="container" ng-repeat="block in menulist">
        <div class="row" ng-repeat="item in block">
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <img src="{{item.imgurl}}" alt="{{item.title}}" />
                    <div class="caption">
                        <h4>{{item.title}}</h4>
                        <h5><i>{{item.price}}</i></h5>
                        <p>{{item.description}}</p>
                        <p><a href="#" class="btn btn-primary" role="button" ng-click="item.add()">Add</a> <a href="#" class="btn btn-default" role="button" ng-click="item.read()">Read</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

