<div class="col-md-9">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel" ng-controller="slidersController">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="{{item.id}}" class="{{item.css}}" ng-repeat="item in sliderslist"></li>
        </ol>
        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item {{item.css}}" ng-repeat="item in sliderslist">
                <img ng-src="{{item.url}}" alt="{{item.title}}" />
                <div class="carousel-caption">
                    <h3>{{item.title}}</h3>
                    <p>{{item.description}}</p>
                </div>
            </div>
        </div>
        <!-- Controls -->
        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>

