@{
    ViewBag.Title = "Menus Detail";
}
<div class="container" ng-init="id=@Html.Raw(ViewData["id"]);url=@Html.Raw("'" + ViewData["url"] + "'")" style="min-height:500px;">
    <ol class="breadcrumb">
        <li><a href="#">Menus</a></li>
        <li class="active">Detail</li>
    </ol>
    <menusdetail-form />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bxslider");
    @Styles.Render("~/Content/bxslider");
    <script src="~/Scripts/Maharajas/maharajasApp.js"></script>
    <script src="~/Scripts/Maharajas/Menus/menusDetailController.js"></script>
    <script src="~/Scripts/Maharajas/Menus/menusDetailDirective.js"></script>
    <script src="~/Scripts/Maharajas/Menus/menusService.js"></script>
    <script src="~/Scripts/Maharajas/Menus/onRepeatFinish.js"></script>
}