@{
    ViewBag.Title = "Menus";
}
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">Menus</a></li>
        <li class="active">@Html.Raw(ViewData["Category"])</li>
    </ol>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <img src="/Images/Boxes/300x300-Box.png" alt="..." />
                    <div class="caption">
                        <h4>VEGETABLE SAMOSAS</h4>
                        <h5><i>$3.50 (2 pcs)</i></h5>
                        <p>Homemade pastry pockets filled with vegetables and spices</p>
                        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Read</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <img src="/Images/Boxes/300x300-Box.png" alt="..." />
                    <div class="caption">
                        <h4>VEGETABLE SAMOSAS</h4>
                        <h5><i>$3.50 (2 pcs)</i></h5>
                        <p>Homemade pastry pockets filled with vegetables and spices</p>
                        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Read</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <img src="/Images/Boxes/300x300-Box.png" alt="..." />
                    <div class="caption">
                        <h4>VEGETABLE SAMOSAS</h4>
                        <h5><i>$3.50 (2 pcs)</i></h5>
                        <p>Homemade pastry pockets filled with vegetables and spices</p>
                        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Read</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <img src="/Images/Boxes/300x300-Box.png" alt="..." />
                    <div class="caption">
                        <h4>VEGETABLE SAMOSAS</h4>
                        <h5><i>$3.50 (2 pcs)</i></h5>
                        <p>Homemade pastry pockets filled with vegetables and spices</p>
                        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Read</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <img src="/Images/Boxes/300x300-Box.png" alt="..." />
                    <div class="caption">
                        <h4>VEGETABLE SAMOSAS</h4>
                        <h5><i>$3.50 (2 pcs)</i></h5>
                        <p>Homemade pastry pockets filled with vegetables and spices</p>
                        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Read</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3" style="margin-bottom:20px;">
                <div class="thumbnail">
                    <img src="/Images/Boxes/300x300-Box.png" alt="..." />
                    <div class="caption">
                        <h4>VEGETABLE SAMOSAS</h4>
                        <h5><i>$3.50 (2 pcs)</i></h5>
                        <p>Homemade pastry pockets filled with vegetables and spices</p>
                        <p><a href="#" class="btn btn-primary" role="button">Add</a> <a href="#" class="btn btn-default" role="button">Read</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
