@{
    ViewBag.Title = "Reservation";
}
<div class="row">
    <reservation-form />
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/Maharajas/maharajasApp.js"></script>
    <script src="~/Scripts/Maharajas/Reservation/reservationDirective.js"></script>
    <script src="~/Scripts/Maharajas/Reservation/reservationService.js"></script>
    <script src="~/Scripts/Maharajas/Reservation/reservationController.js"></script>
}